
body {
	font-family: "open-sans",sans-serif;
	color:#3a3a3a !important;

}

hr {
	border: 2px solid #fff;
}

.content_summary {
	background: #efeded;
	border: 1px solid #e6e6e6;
	padding:80px 0 80px 0;
	margin:20px 0 60px 0;
}

.content_footer {
	bottom:0;
	background: #1a1a1a;
	font-size: 12px;
	margin:100px 0 0 0;
}

a {
	color: #fc2a7c;
}

a:hover {
	color: #444;
}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 5em;
	line-height: 20px;
	padding:50px 0 10px 0;
}

.panel h2 {
	text-align: center;
	font-size: 35px;
	color: #e1e1e1;
}

h2 a {
	font-size: 40px;
	color: #fc2a7c;;
}

h2.subheader {
	font-size: 1.6em;
	color: #444;
	line-height: 25px;
	padding:0 0 60px 0;
}

h3 {
	color: #3e4248;
	font-size: 1.4em;
	line-height: 35px;
	font-weight: normal;
	text-align: left;
	display:inline;
}

h4.subheader {
	font-size: 1.2em;
}

button.large, .button.large {
	font-size: 14px;
	font-weight: normal;
	padding: 20px 40px 20px 40px;
	border:0;
	border-radius: 4px;
}

button.large, .button.large > a:hover {
	background: #444;
}

p img {
	max-width:200px;
	float: right;
	padding: 50px 35px 35px 35px;

}

p span.description {
	font-size: 18px;
}

/*panels*/

.panel {
	background: #fff;
	border:0;
	margin: 20px 0 20px 0;
}

.panel_logo {
	background: #fff;
	margin: 5% auto;
	text-align: center;
}

.panel_intro {
	border:0;
	margin: 20px 0 20px 0;
}

.panel_summary {
	font-size: 90%;
	float: right;
	margin: 40px 0 40px 0;
}

.panel_headline {
	/*color: #6c7479;*/
	padding: 40px 20px 30px 0;
	font-size: 17px;
}

.panel_news {
	padding: 20px;
	margin-bottom: 20px;
	font-size: 15px;
}

.panel_footer {
	background:#1a1a1a;
	color: #fff;
	padding: 80px 0 40px 0;
	text-align: center;
	height: 200px;

	}

.panel_projects {
	background: #efeded;
	padding: 35px;
	margin-bottom: 30px;
}


/*nav bar*/

.top-bar{
	background:#fff;
}

.contain-to-grid {
	background: #fff;
}

.top-bar-section ul li.active > a {
	background:#fff;
	color: #777;
}

.top-bar-section ul li.hover > a {
	background: #ededed;
	color: #444;
}

.top-bar-section li a:not(.button) {
	background:#fff;
	color:#1a1a1a;
}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
	color: #ededed;
	border: 0;
	background: #fff;
	padding: 0 10px 0 10px;
}

.top-bar-section .has-dropdown > a:after{
	border-color: rgba(100, 100, 100, 0.5) transparent transparent transparent;
}

.top-bar .toggle-topbar.menu-icon a span {
	color: #1a1a1a;
}

.top-bar .toggle-topbar.menu-icon a {
	color: #1a1a1a;
}
.top-bar.expanded .title-area {
	background: #fff;
	border-bottom: 1px solid #ededed;
}

/*media queries phones*/

@media screen and (max-device-width: 480px){

  .row {width:95}
  h1 {font-size: 2em;}
}

/*tablets*/

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait){
  .row {width:95%;}

}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape){
 .row {width:95%;}

}
