---
layout: default_eng
title: Fundación porCausa - Journalism and Research
---

<div class="content_logo">
<div class="row">
		<div class="large-12 columns">
			<div class="panel_logo">
			<h1>porCausa</h1>
			<h2 class="subheader">Journalism & Research</h2>
			<p><a href="contact.html" class="large button">Get involved</a></p>
		</div>
	</div>
</div>
</div>

<!-- <div class="content_intro">
			<div class="row">
				  <div class="small-12 small-centered columns">
				  	<h4>We produce journalism & research on poverty and social inequalities in collaboration with media, researchers and social organizations</h4>
				  	</div>
				  </div>
				</div> -->


		<div class="content_intro">
			<div class="row">
				<div class="small-12 large-centered columns">
					<div class="panel_highlight">
						<h4><a href="http://www.tedxmadrid.com/ponentes-2013/gonzalo-fanjul/">TEDxMadrid</a> / We've participated at this TED local event with a talk on the infant poverty crisis affecting Spain, given by Gonzalo Fanjul. </h4> 
					</div>
				</div>
			</div>
		</div>

	<div class="content_second">
				  	<div class="row">
				<div class="large-4 columns">
					<div class="panel_headline">
					<p><strong>porCausa</strong> promotes deep-dive news coverage on poverty, social mobility and development</p>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="panel_headline">
						<p>We support public service, data-driven journalism based on multidisciplinary teams</p>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="panel_headline">
						<p>We are a non-profit organization. We are funded by private donations</p>
					</div>
				</div>
			</div>
		</div>

		<div class="content_search">
			<div class="row">
				<div class="small-6 large-centered columns">
					<div class="panel_search">
						<p>{% include form_eng.html %}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
		 <div class="small-12 small-centered columns">
			<h5>News</h5>
			<h5 class=small></h5>
			<div class="panel_news">
				<div class="small-11 small-centered columns">
					{% for post in site.posts limit: 3  %}
					<p><a href="{{post.url}}">{{post.title}}</a><br>
					{{post.description}}</p>
					<!-- <p class="twitter">{{ post.date | date: "%d / %m / %Y" }}<p> -->
					<hr>

					{% endfor %}
		
			</div>
			</div>
		</div>
	</div>