---
layout: default
title: Fundación porCausa - Periodismo e Investigación
---

<div class="content_logo">
<div class="row">
		<div class="large-12 columns">
			<div class="panel_logo">
			<h1>porCausa</h1>
			<h2 class="subheader">Periodismo e Investigación</h2>
			<p><a href="contacto.html" class="large button">participa</a></p>
		</div>
	</div>
</div>
</div>

		<div class="content_intro">
			<div class="row">
				<div class="small-12 large-centered columns">
					<div class="panel_highlight">
						<h4><a href="http://www.tedxmadrid.com/ponentes-2013/gonzalo-fanjul/">TEDxMadrid</a> / Participamos en el evento local de TED con una charla de Gonzalo Fanjul sobre 'La crisis de la pobreza infantil'. Síguelo en <a href='http://new.livestream.com/tedx/TEDxMadrid2014'>streaming</a> el 27 de septiembre</h4> 
					</div>
				</div>
			</div>
		</div>

<!-- 		<div class="content_intro">
			<div class="row">
				<div class="small-12 large-centered columns">
					<div class="panel_highlight">
						<h4><a href="ayuda-desarrollo">¿A dónde va el dinero contra la pobreza?</a> Publicamos las ayudas concedidas por la administración central desde 1992 a organizaciones que operan en el campo de la cooperación internacional para el desarrollo </h4> 
					</div>
				</div>
			</div>
		</div> -->

			<div class="content_second">
				  	<div class="row">
				<div class="large-4 columns">
					<div class="panel_headline">
						<p><strong>porCausa</strong> impulsa y realiza proyectos periodísticos sobre pobreza y desigualdad</p>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="panel_headline">
					<p>Apostamos por el periodismo de servicio público apoyado en datos y equipos multidisciplinares</p>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="panel_headline">
						<p>Somos una organización sin ánimo de lucro. Nos financiamos a través de donaciones privadas</p>
					</div>
				</div>
			</div>
		</div>

		<div class="content_search">
			<div class="row">
				<div class="small-6 large-centered columns">
					<div class="panel_search">
						<p>{% include form.html %}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
		 <div class="small-12 small-centered columns">
			<h5>Noticias</h5>
			<h5 class=small></h5>
			<div class="panel_news">
				<div class="small-11 small-centered columns">
					{% for post in site.posts limit: 3  %}
					<p><a href="{{post.url}}">{{post.title}}</a><br>
					{{post.description}}</p>
					<!-- <p class="twitter">{{ post.date | date: "%d / %m / %Y" }}<p> -->
					<hr>

					{% endfor %}

			</div>
			</div>
		</div>
	</div>