---
layout: default_eng
title: Fundación porCausa - Journalism and Research
---

<div class="content_logo">
<div class="row">
		<div class="large-12 columns">
			<div class="panel_logo">
			<h1>porCausa</h1>
			<h2 class="subheader">Journalism & Research</h2>
			<p><a href="contact.html" class="large button">Get involved</a></p>
		</div>
	</div>
</div>
</div>

<div class="content_intro">
			<div class="row">
				  <div class="small-12 small-centered columns">
				  	<h4>We promote journalism & research on poverty and social inequalities in collaboration with media, researchers and social organizations</h4>
				  	</div>
				  </div>
				</div>

	<div class="content_summary">
				  	<div class="row">
				<div class="large-4 columns">
					<div class="panel_headline">
						<p>porCausa supports public service, data-driven journalism based on multidisciplinary teams, multimedia, and agile development</p>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="panel_headline">
						<p>We cover the whole journalistic process: research, in collaboration with social researchers; data gathering and analysis, and distribution through media agreements and online tools and products</p>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="panel_headline">
						<p>We are an independent, non-profit organization. We are funded by private donations. We are commited to open data and open source software development</p>
					</div>
				</div>
			</div>
		</div>

		<div class="content_search">
			<div class="row">
				<div class="small-6 large-centered columns">
					<div class="panel_search">
						<p>{% include form_eng.html %}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
		 <div class="small-12 small-centered columns">
			<h5>Blog</h5>
			<h5 class=small></h5>
			<div class="panel_news">
				<div class="small-11 small-centered columns">
					{% for post in site.posts limit: 3  %}
					<p><a href="{{post.url}}">{{post.title}}</a><br>
					{{post.description}}</p>
					<p class="twitter">{{ post.date | date: "%d / %m / %Y" }}<p>

					{% endfor %}
				<!-- <p class="news">Estamos en la última fase de constitución de la Fundación porCausa. Cuando concluya el proceso anunciaremos el patronato, formado por un grupo de periodistas e investigadores de referencia de Europa y América. </p>
				<p class="twitter"><a href="">(24.07.13)</a></p>	
				<p class="news">Conoce los <a href="proyectos.html">proyectos e investigaciones</a> en los que estamos trabajando. Escríbenos si quieres <a href="contacto.html">participar</a>, contribuir a la financiación o proponer una colaboración.</p>
				<p class="twitter"><a href="">(24.07.13)</a></p>
				<p class="news">Colaboramos con una amplia red de medios, periodistas e investigadores de América y Europa. <a href="contacto.html">Escríbenos</a> si quieres participar. </p>
				<p class="twitter"><a href="">(24.07.13)</a></p> -->
			</div>
			</div>
		</div>
	</div>