

<!-- <div class="contain-to-grid"> -->
<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
  <!--     <h1><a href="index.html">Inicio</a></h1> -->
    </li>

  <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    
    <li class="toggle-topbar menu-icon"><a href="#"><span>MENU</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class='divider hide-for-small'></li>
      <li><a href="index.html">Inicio</a></li>
      <li class='divider hide-for-small'></li>
      <li class="has-dropdown"><a href="#">Fundación</a>        
        <ul class="dropdown">
          <li><a href="equipo.html">Equipo</a></li>
          <li><a href="causas.html">Causas</a></li>
          <!-- <li><a href="#">Patronato</a></li> -->
        </ul>
      </li>
    <li><a href="proyectos.html">Proyectos</a></li>
    <li class='divider hide-for-small'></li>
    <li><a href="contacto.html">Contacto</a></li>

  </ul>
  </section>
</nav>
<!-- </div> -->