---
layout: post
section: Proyectos
<!-- description: Periodismo e investigación contra la pobreza -->
---

    <div class="row">
         <div class="large-12 columns">
            <!-- <h2 class="lead">¿A dónde va el dinero contra la pobreza?</h2>   -->
              <p><a href="https://twitter.com/share" class="twitter-share-button" data-via="porcausaorg">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
            <p>{{ content }}</p>
        </div>
    </div>
