---
layout: post
section: Blog
description: Periodismo e investigación contra la pobreza
---

    <div class="row">
         <div class="large-12 columns">
          <div class="panel_projects">
            <h2 class="blog">{{page.title }}</h2>
            <p small><a href="http://twitter.com/{{page.twitter}}">{{page.twitter}}</a> • {{page.date | date: "%d / %m / %Y" }}</p>
              <p><a href="https://twitter.com/share" class="twitter-share-button" data-via="nprapps">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
            <p>{{ content }}</p>
            <p class="twitter">tags: <a href="{{page.tags}}"> {{page.tags}} </a><br>
            <a href="{{post.url}}">Enlace permanente</a></p> 
        </div>
      </div>
    </div>
